.plan {
    background-color: #0076A3;

    // .plan__container

    &__container {
        padding: 15px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // .plan__header

    &__header {
        display: flex;
        align-items: center;
        height: 28px;
    }

    &__new {
        img {
            transform: scale(1);
            transition: all 0.3s ease 0s;
        }

        &:hover {
            img {
                transform: scale(1.2);
                transition: all 0.3s ease 0s;
            }
        }
    }

    // .plan__print

    &__print {
        margin: 0px 14px 0px 0px;
        cursor: pointer;
    }

    // .plan__label

    &__label {
        font-weight: 700;
        font-size: 22px;
        color: var(--back-of-app);
    }
}

.new-plan {
    display: flex;
    align-items: center;

    font-weight: 700;
    font-size: 18px;
    line-height: 143%;

    // .new-plan__pat

    &__pat {
        margin: 0px 10px 0px 0px;
        color: var(--back-of-app);
        padding: 0 18px;
        background: rgba(204, 214, 218, 0.3);
        border-radius: 4px;
    }

    // .new-plan__rec

    &__rec {
        color: var(--dark-no-contrast);
        padding: 0 18px;
        background: var(--secondary-no-contrast);
        border-radius: 4px;
    }
}
