:root {
  --back-of-app: #F3F7F9;
  --back-of-elements: #FFF;
  --secondary-basic: #B7C6CB;
  --secondary-no-contrast: #CCD6DA;
  --primary-basic: #B0DAEC;
  --primary-no-contrast: #CBE5F0;
  --accent-basic: #0076A3;
  --accent-no-contrast: #33B1CA;
  --dark-basic: #061519;
  --dark-no-contrast: #012B39;
  --danger-basic: #FE4021;
  --danger-no-contrast: #FFBEB366;
  --positive-basic: #31BF79;
  --positive-no-contrast: #94E3BC66;
  --warning-basic: #FFB149;
  --warning-no-contrast: #FFDCAD66;
}