// Font
$font-family: 'Nunito Sans';

// Header
$h1-fw: 700;
$h1-fs: 44px;

$h2-fw: 700;
$h2-fs: 30px;

$h3-fw: 700;
$h3-fs: 22px;

$h4-fw: 700;
$h4-fs: 18px;

$h5-fw: 700;
$h5-fs: 16px;

$h6-fw: 700;
$h6-fs: 14px;

// Text
$t1-fw: 400;
$t1-fs: 18px;

$t2-fw: 400;
$t2-fs: 16px;

$t3-fw: 400;
$t3-fs: 14px;

$t4-fw: 400;
$t4-fs: 12px;
